@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");
.heading {
  position: relative;
  background-image: url("../svgs/header/heading.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  background-position: center;
}
.heading__container {
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.heading__logo {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  color: #F8F9FA;
}
.heading__navigation {
  display: flex;
  align-items: center;
}
.heading__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.heading__nav-list-item {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 25px;
}
.heading__nav-list-item a {
  text-decoration: none;
  color: #E5E5E5;
}
.heading__nav-list-item--active a {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #D4A373;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.heading__separator {
  height: 20px;
  background-color: #E5E5E5;
  margin: 0 18px;
}
.heading__media-icon {
  margin-left: 18px;
  width: 20px;
  height: 20px;
}
.heading__media-icons a:first-of-type .heading__media-icon {
  margin-left: 0;
}
.heading__content {
  position: absolute;
  top: 278px;
  left: 70px;
}
.heading__content-tag {
  width: 62px;
  font: 700 10px "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
  width: 77px;
  margin-left: 0;
}
.heading__content-heading {
  color: #FFFFFF;
  font: 700 36px "Lora", serif;
  width: 530px;
  margin: 15px 0;
}
.heading__content-description-container {
  display: flex;
}
.heading__content-date {
  color: #E5E5E5;
  font: 400 12px "Lora", serif;
}
.heading__content-separator {
  height: 1px;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  width: 30px;
  margin: 8px 10px;
}
.heading__content-description {
  font: 400 12px "Lora", serif;
  color: #E5E5E5;
  line-height: 20px;
  width: 420px;
}

.blog-cards {
  width: 1300px;
  margin: 150px auto;
}
.blog-cards__title {
  font-family: "Lora", serif;
  font-size: 36px;
}
.blog-cards__filter {
  margin: 22px 0;
}
.blog-cards__filter-button {
  font-family: "Lora", serif;
  font-size: 12px;
  margin-right: 20px;
  border: none;
  background: none;
}
.blog-cards__filter-button--active {
  color: #D4A373;
}
.blog-cards__filter-button:last-child {
  float: right;
  margin-right: 0;
}
.blog-cards__rows-item {
  display: flex;
}
.blog-cards__card {
  width: 310px;
  margin-left: 18px;
  margin-bottom: 55px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.blog-cards__image-container {
  position: relative;
}
.blog-cards__image {
  width: 310px;
  height: 280px;
  z-index: 0;
  border-radius: 5px;
}
.blog-cards__tags-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.blog-cards__tag {
  width: 62px;
  font: 700 10px "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
}
.blog-cards__text-container {
  margin: 20px;
}
.blog-cards__date {
  color: #E5E5E5;
  font: 400 12px "Lora", serif;
  color: #6C757D;
}
.blog-cards__heading {
  color: #FFFFFF;
  font: 700 18px "Lora", serif;
  line-height: 25px;
  color: #495057;
  margin: 15px 0;
}
.blog-cards__description {
  font: 400 12px "Lora", serif;
  color: #E5E5E5;
  line-height: 20px;
  color: #6C757D;
}
.blog-cards__separator {
  height: 1px;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  margin: 20px 0;
}
.blog-cards__profile {
  display: flex;
  align-items: center;
}
.blog-cards__profile-image {
  margin-right: 17px;
}
.blog-cards__profile-author {
  line-height: 20px;
  color: #6C757D;
  font: 400 12px "Lora", serif;
}
.blog-cards__profile-name {
  color: #343A40;
  font-weight: 700;
}

.big-post {
  position: relative;
  background-image: url("../svgs/big-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
.big-post__content {
  width: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.big-post__tag {
  width: 62px;
  font: 700 10px "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
  margin: 0 auto;
}
.big-post__heading {
  color: #FFFFFF;
  font: 700 36px "Lora", serif;
  margin: 24px 0 13px 0;
}
.big-post__description {
  font: 400 12px "Lora", serif;
  color: #E5E5E5;
  line-height: 20px;
  width: 420px;
  margin: 0 auto;
}
.big-post__separator {
  height: 1px;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
  width: 30px;
  margin: 24px auto 15px auto;
}
.big-post__date {
  color: #E5E5E5;
  font: 400 12px "Lora", serif;
}

.blog-metro {
  width: 1300px;
  margin: 150px auto;
}
.blog-metro__upper-heading {
  color: #495057;
  margin-bottom: 70px;
  font: 700 36px "Lora", serif;
}
.blog-metro__upper-container {
  display: flex;
}
.blog-metro__container {
  width: 420px;
  height: 350px;
  position: relative;
  margin-right: 20px;
}
.blog-metro__container:last-child {
  margin-right: 0;
}
.blog-metro__container1 {
  background-image: url("../svgs/blog-metro/metro-image1.svg");
}
.blog-metro__container2 {
  background-image: url("../svgs/blog-metro/metro-image2.svg");
}
.blog-metro__container3 {
  background-image: url("../svgs/blog-metro/metro-image3.svg");
}
.blog-metro__content {
  position: absolute;
  top: 153px;
  left: 40px;
}
.blog-metro__tag {
  width: 62px;
  font: 700 10px "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.blog-metro__date {
  color: #E5E5E5;
  font: 400 12px "Lora", serif;
}
.blog-metro__heading {
  color: #FFFFFF;
  font: 700 18px "Lora", serif;
  line-height: 25px;
  width: 270px;
  margin: 15px 0;
}
.blog-metro__description {
  width: 340px;
  color: #E5E5E5;
  font: 400 12px "Lora", serif;
  line-height: 20px;
}

.info {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #212529;
}
.info__container {
  width: 1162px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.info__heading {
  color: #FFFFFF;
  font: 700 18px "Lora", serif;
  line-height: 25px;
  margin-bottom: 15px;
}
.info__description {
  font: 400 12px "Lora", serif;
  color: #E5E5E5;
  line-height: 20px;
  margin-bottom: 18px;
}
.info__adress {
  line-height: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343A40;
}
.footer__publisher {
  font: 700 14px "Lora", serif;
  color: #E5E5E5;
  margin-left: 70px;
}
.footer__subscription {
  font: 700 14px "Lora", serif;
  color: #E5E5E5;
  margin-right: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 249, 250);
}/*# sourceMappingURL=main.css.map */