@import "_general-rules";

.big-post {
  position: relative;
  background-image: url("../svgs/big-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;

  &__content {
    width: 530px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__tag {
    @include tag-style;
    margin: 0 auto;
  }

  &__heading {
    @include larger-heading-style;
    margin: 24px 0 13px 0;
  }

  &__description {
    @include descriptiom-style;
    width: 420px;
    margin: 0 auto;
  }

  &__separator {
    @include separator-style;
    width: 30px;
    margin: 24px auto 15px auto;
  }

  &__date {
    @include date-style;
  }
}