@import "_general-rules";

.blog-metro {
  width: 1300px;
  margin: 150px auto;

  &__upper-heading {
    color: $heading-gray;
    margin-bottom: 70px;
    font: 700 36px $font-Lora; 
  }

  &__upper-container {
    display: flex;
  }

  &__container {
    width: 420px;
    height: 350px;
    position: relative;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__container1 {
    background-image: url("../svgs/blog-metro/metro-image1.svg");
  }

  &__container2 {
    background-image: url("../svgs/blog-metro/metro-image2.svg");
  }

  &__container3 {
    background-image: url("../svgs/blog-metro/metro-image3.svg");
  }

  &__content {
    position: absolute;
    top: 153px;
    left: 40px;
  }

  &__tag {
    @include tag-style;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__date {
    @include date-style;
  }

  &__heading {
    @include smaller-heading-style;
    width: 270px;
    margin: 15px 0;
  }

  &__description {
    width: 340px;
    color: $primary-gray;
    font: 400 12px $font-Lora;
    line-height: 20px;
  }
}
