@import "_general-rules";

.blog-cards {
  width: 1300px;
  margin: 150px auto;

  &__title {
    font-family: $font-Lora;
    font-size: 36px;
  }

  &__filter {
    margin: 22px 0;

    &-button {
      font-family: $font-Lora;
      font-size: 12px;
      margin-right: 20px;
      border: none;
      background: none;

      &--active {
        color: $separator-orange;  
      } 
    }

    &-button:last-child {
      float: right;
      margin-right: 0;
    }
  }

  &__rows-item {
    display: flex;
  }

  &__card {
    width: 310px;
    margin-left: 18px;
    margin-bottom: 55px;
    background-color: $primary-white;
    border-radius: 5px;
  }

  &__image-container{
    position: relative;
  }

  &__image {
    width: 310px;
    height: 280px;
    z-index: 0;
    border-radius: 5px;
  }

  &__tags-container {
    display: flex;
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 1;
  }

  &__tag {
    @include tag-style
  }

  &__text-container {
    margin: 20px;
  }

  &__date {
    @include date-style;
    color:$description-gray;
  }

  &__heading {
    @include smaller-heading-style;
    color: $heading-gray;
    margin: 15px 0;
  }

  &__description {
    @include descriptiom-style;
    color: $description-gray;
  }

  &__separator {
    @include separator-style;
    margin: 20px 0;
  }

  &__profile {
    display: flex;
    align-items: center;

    &-image {
      margin-right: 17px;
    }

    &-author {
      line-height: 20px;
      color: $description-gray;
      font: 400 12px $font-Lora;
    }

    &-name {
      color: #343A40;
      font-weight: 700;
    }
  }

}

