@import "_general-rules";

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343A40;

  &__publisher {
    font: 700 14px $font-Lora;
    color: $primary-gray;
    margin-left: 70px;
  }
  
  &__subscription {
    font: 700 14px $font-Lora;
    color: $primary-gray;
    margin-right: 70px;
  }
}