@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

//fonts
$font-Lora: 'Lora', serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Spartan: 'League Spartan', sans-serif;

//colors
$primary-white: #FFFFFF;
$primary-gray: #E5E5E5;
$primary-gray-with-opacity: rgba(229, 229, 229, 0.5);
$heading-gray: #495057;
$description-gray: #6C757D;
$separator-orange: #D4A373;

@mixin tag-style {
  width: 62px;
  font: 700 10px $font-Roboto;
  color: $primary-white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
}

@mixin smaller-heading-style {
  color: $primary-white;
  font: 700 18px $font-Lora;
  line-height: 25px;
}

@mixin larger-heading-style {
  color: $primary-white;
  font: 700 36px $font-Lora;
}

@mixin descriptiom-style {
  font: 400 12px $font-Lora;
  color: $primary-gray;
  line-height: 20px;
}

@mixin separator-style {
  height: 1px;
  background-color: $primary-gray-with-opacity;
  border: none;
}

@mixin date-style {
  color: $primary-gray;
  font: 400 12px $font-Lora;
}