@import "_general-rules";

.heading {
  position: relative;
  background-image: url("../svgs/header/heading.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  background-position: center;
  
  &__container {
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__logo {
    font-family: $font-Spartan;
    font-size: 20px;
    color: #F8F9FA;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__nav {

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        display: inline;
        font-family: $font-Roboto;
        font-size: 12px;
        margin-left: 25px;

        & a {
          text-decoration: none;
          color: $primary-gray;
        }

        &--active a {
          color: $primary-white;
          text-decoration: underline;
          text-decoration-color: $separator-orange;
          text-decoration-thickness: 2px;
          text-underline-offset: 5px;
        }
      }
    }
  }

  &__separator {
    height: 20px;
    background-color: $primary-gray;
    margin: 0 18px;
  }

  &__media-icon {
    margin-left: 18px;
    width: 20px;
    height: 20px;
  }

  &__media-icons a:first-of-type &__media-icon {
    margin-left: 0;
  }

  &__content {
    position: absolute;
    top: 278px;
    left: 70px;

    &-tag {
      @include tag-style;
      width: 77px;
      margin-left: 0;
    }

    &-heading {
      @include larger-heading-style;
      width: 530px;
      margin: 15px 0;
    }

    &-description-container {
      display: flex;
    }

    &-date {
      @include date-style;
    }

    &-separator {
      @include separator-style;
      width: 30px;
      margin: 8px 10px;
    }
    
    &-description {
      @include descriptiom-style;
      width: 420px;
    }
  }
}
