@import "_general-rules";

.info {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #212529;
  
  &__container {
    width: 1162px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%; 
    right: 0;
    transform: translate(-50%, -50%);
  }

  &__heading {
    @include smaller-heading-style;
    margin-bottom: 15px;
  }

  &__description {
    @include descriptiom-style;
    margin-bottom: 18px;
  }
  
  &__adress{
    line-height: 20px;
  }
}