@use "header";
@use "blog-cards";
@use "big-post";
@use "blog-metro";
@use "info";
@use "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(248,249,250,255)
}


